[data-chisel-reel] {
    box-sizing: border-box;
    display: flex;
    gap: var(--gutter, 0px);
    scroll-snap-type: none;
}

[data-chisel-reel="proximity"] {
    scroll-snap-type: x proximity;
}

[data-chisel-reel="mandatory"] {
    scroll-snap-type: x mandatory;
}